<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>VerInfoProvServlet</servlet-name>
        <servlet-class>servlets.VerInfoProvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarServicioServlet</servlet-name>
        <servlet-class>servlets.AgregarServicioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerInfoProvServlet</servlet-name>
        <url-pattern>/VerInfoProvServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarServicioServlet</servlet-name>
        <url-pattern>/AgregarServicioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
